<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:include="common/header.html :: common_header"></head>

	<script th:src="@{/static/custom/js/accountList.js}"></script>    

	<body class="gray-bg">
	    <div class="wrapper wrapper-content animated fadeInRight">
	
	        <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                <h5>账户列表</h5>
	            </div>
	           
	            <div class="ibox-content">
	                <div class="row row-lg">
	                    <div class="col-sm-12">
	                        <div class="example-wrap">
	                            <div class="example">
									<div class="btn-group hidden-xs" id="exampleToolbar" role="group">
	                                    <button type="button" class="btn btn-outline btn-default">
	                                        <i class="fa fa-plus" aria-hidden="true"></i> 新增
	                                    </button>
	                                    
	                                    <button type="button" class="btn btn-outline btn-default">
	                                        <i class="fa fa-trash" aria-hidden="true"></i> 删除
	                                    </button>
	                                </div>                         

	                                <table id="exampleTableToolbar" data-mobile-responsive="true"></table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</html>
